/*
 * Base colours:
 *
 * pp dunkelblau:
 * cmyk: c86, m61, y45, k41
 * rgb: r41, g67, b83
 * hex: #294353
 *
 * pp hellblau:
 * cmyk:c66, m36, y26, k8
 * rgb: r96, g135, b158
 * hex: #60879e
 *
 * pp hellgrün:
 * cmyk: c50, m15, y100, k0
 * rgb: r150, g174, b36
 * hex: #96ae24
 *
 */

/*
 * Fonts
 */

@font-face {
  font-family: Anton;
  src: url(../fonts/anton/Anton-Regular.ttf);
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf);
}

/*
 * Sections with images
 */

html { max-width: 1840px; } 

section:nth-of-type(odd)    { background-color: #60879e !important; }
section:nth-of-type(odd) h1 { background-color: #294353 !important; }

section:nth-of-type(even)    { background-color: #294353 !important; }
section:nth-of-type(even) h1 { background-color: #60879e !important; }

img.bg + .hero.is-fullheight-with-navbar {
  min-height: calc(100vh - 100vw*0.225 - 3rem);
}

img.bg { 
  margin-bottom: -10px; 
  margin-top: -85px; 
  padding-top: 85px;
  pointer-events: none;
  border: none;
  outline: none;
}

#spacer { min-height: 85px; }

/*
 * Navbar
 */

a.navbar-item {
  font-family: Anton;
  font-size: 1.0rem;
}

a.navbar-item:hover {
  color: #4a4a4a;
}

.navbar-initial img {
  height: 25px;
  max-height: 25px;
  margin-right: 7px;
  vertical-align: middle;
}

/*
 * Responsive
 */

@media only screen and (min-width: 785px) {
  #project-description {
    position: relative;
    top: -300px;
  }
}

@media screen and (min-width: 1088px) {
  .navbar-brand img {
    max-height: 50px;
    height: 50px;
    margin: 10px 50px;
  }

  .navbar-end .navbar-item {
    padding-bottom: 20px;
    align-items: flex-end;
  }

  a.navbar-item.active {
    box-shadow: inset 0 -5px 0 currentColor;
  }
}

@media screen and (max-width: 1087px) {
  .navbar-brand img {
    max-height: 40px;
    height: 40px;
    margin: 5px 30px;
  }

  #spacer {
    min-height: 65px;
  }

  img.bg { 
    margin-bottom: -10px; 
    margin-top: -65px; 
    padding-top: 65px;
  }
}

/*
 * Headings
 */

img.title-initial {
  height: 2.75rem;
  position: relative;
  top: 7px;
  margin-right: 7px;
  margin-top: -7px;
}

h1.title {
  font-family: Anton;
  color: #fff !important;
  position: absolute;
  padding: 1rem;
  left: -50rem;
  top: -75px;
  padding-left: 50rem;
}

h2.title {
  font-family: Anton;
  color: #fff !important;
}

.no-bg-image h1.title {
  top: 0;
}

.no-bg-image h1.title + * {
  margin-top: 6rem;
}

.light h4, .light h5 {
  color: inherit;
}

ul.light, .content.light, i.light {
  color: #fff;
}

h1.title + * {
  margin-top: 1rem;
}

p {
  font-family: Roboto;
}

#willkommen p {
  max-width: 500px;
}

span.small {
  font-size: 0.75rem;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

#project-description {
  min-height: 50vh;
}

#project-description .content {
  display: none;
}

#project-description .content:first-child {
  display: block;
}

#quotes .media {
  border-top: none;
  margin-top: 0;
  display: none;
}

#quotes .media:first-child {
  display: flex;
}

#quotes .title {
  font-size: 0.90rem;
  line-height: 1.4;
  }

#quotes .subtitle {
  font-size: 0.80rem;
}

.footer {
  background-color: #333;
  color: #ccc;
}

.footer a {
  color: #ccc;
}

.hero.is-fullheight-with-navbar .hero-body {
  align-items: initial !important;
  padding-top: 40px;
}

#project-description {
  max-width: 680px;
}

#project-description img {
  display: block;
  margin: 0 auto;
}

.menu-list a:hover {
  background-color: #60879e;
}

