span.small {
  font-size: 0.75rem;
}

.content a {
  text-decoration: underline;
}

.content a:hover {
  text-decoration: none;
}

#project-description {
  min-height: 50vh;
}

#project-description .content {
  display: none;
}

#project-description .content:first-child {
  display: block;
}

#quotes .media {
  border-top: none;
  margin-top: 0;
  display: none;
}

#quotes .media:first-child {
  display: flex;
}

#quotes .title {
  font-size: 0.90rem;
  font-family: Arial;
}

#quotes .subtitle {
  font-size: 0.80rem
}

.footer {
  background-color: #333;
  color: #ccc;
}

.footer a {
  color: #ccc;
}
