span.small {
  font-size: 0.75rem;
}

#project-description {
  min-height: 50vh;
}

#project-description .content {
  display: none;
}

#project-description .content:first-child {
  display: block;
}

#quotes .media {
  border-top: none;
  margin-top: 0;
  display: none;
}

#quotes .media:first-child {
  display: flex;
}

.footer {
  background-color: #333;
  color: #ccc;
}

.footer a {
  color: #ccc;
}
